.game {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerChoices {
    display: flex;
    flex-direction: row;
}

.playerChoices > div {
    width: 350px;
    height: 350px;
    border: 3px solid white;
    margin-left: 100px;
    margin-right: 100px;
}

.playerChoice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.playerChoice > Button {
    margin-top: 10px;
    width: 50%;
}

.computerImage {
    position: relative;
    margin: 30px 35px;
    height: 300px;
    width: 300px;
}

.playerTopbar{
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-top: 10px;
}

.playerImage{
    height: 75px;
    width: 75px;
}

.screenshotButton {
    margin-right: 100px;
}

.comment{
    color: white;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.stopButton{
    margin-top: 10px;
}