.scores {
    margin: 15px auto;
    text-align: center;
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}

.name {
    background-color: rebeccapurple;
    color: white;
    margin-bottom: 20px;
    box-shadow: 0 0 0 10px rebeccapurple;
    border-radius: 3px;
}