@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background: white;
  padding: 20px;
  text-align: center;
}

body {
  background: grey;
}

.startButton {
  width: 200px;
}
